# =========================================
# Django Project Settings
# =========================================
SECRET_KEY='your_django_secret_key_here'

# =========================================
# Blockchain Configuration (Nile Testnet)
# =========================================

# آدرس قرارداد فروش ZNDT (قراردادی که کاربر با آن تعامل می کند)
ZNDT_SALE_ADDRESS=TPrSWcCjf89WRqo5tdpYYBG1f6R8U6RMau
USDT_ADDRESS=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
ZNDT_TOKEN_ADDRESS=TBMEP2LbfAko4KTuut8ns6wrrxaFnarbpA
# مالک نهایی پروژه (برای انتقال مالکیت در Mainnet)
# PROJECT_OWNER_WALLET='your_wallet_address_here'

# =========================================
# API Keys & Network Endpoints
# =========================================
OPENAI_API_KEY='your_openai_api_key_here'
# ALPHA_VANTAGE_API_KEY='your_alpha_vantage_api_key_here'

TRON_NETWORK='mainnet'
TRON_API_ENDPOINT='https://nile.trongrid.io'
NASDAQ_API_KEY='your_nasdaq_api_key_here'
TRONGRID_API_KEY='your_trongrid_api_key_here'
THEGRAPH_API_KEY='your_thegraph_api_key_here'
PRIVATE_KEY='your_private_key_here'